In [3]:
# dictionary

# key-value pair  => mutuable , and it stored the data in form of 
# key - value pair 
#  key - identifier   = value
#  key - unique
#  value - data ( unique or it may duplicate)

In [4]:
# mutuable datatype,  ordered but yahan pr koi index nhi hai

In [21]:
#  key : value
# key are unique => immutable data type
mydictionary={1:"tushar", 2:"yash","greeting":1000}

In [14]:

mydictionary["greeting"]=5000

In [16]:
mydictionary[300]="aman"

In [20]:
mydictionary

{1: 'tushar', 2: ['yash'], 'greeting': 1000}

In [25]:
mydictionary

{1: 'tushar', 2: 'yash', 'greeting': 1000}

In [26]:
x=mydictionary.pop("greeting")

1000

In [28]:
mydictionary

{1: 'tushar', 2: 'yash'}

In [29]:
mydictionary.popitem()

(2, 'yash')

In [31]:
mydictionary

{1: 'tushar'}

In [36]:
i=(10,20)

In [37]:
a,b=i
print(a)

10

In [40]:
list1=[ (10,20),(30,40) ]

for i in list1:
    a,b=i
    print(a)

10
30

In [41]:
list1=[ (10,20),(30,40) ]

for a,b in list1:
    print(a)

10
30

In [44]:
mydictionary={1:"tushar", 2:"yash","greeting":1000}

for i in mydictionary:
    print(i, mydictionary[i])

1 tushar
2 yash
greeting 1000

In [46]:
mydictionary={1:"tushar", 2:"yash","greeting":1000}

for i in mydictionary.values():
    print(i)

tushar
yash
1000

In [48]:
mydictionary={1:"tushar", 2:"yash","greeting":1000}

mydictionary.items()

dict_items([(1, 'tushar'), (2, 'yash'), ('greeting', 1000)])

In [49]:
list1= [(1, 'tushar'), (2, 'yash'), ('greeting', 1000)]

In [53]:
mydictionary={1:"tushar", 2:"yash","greeting":1000}

# [(1, 'tushar'), (2, 'yash'), ('greeting', 1000)]

for key,value in mydictionary.items():
    print(key, value)

1 tushar
2 yash
greeting 1000

In [54]:
list1=[ (10,20),(30,40) ]

for a,b in list1:
    print(a)

10
30

In [56]:
mydictionary

{2: 'yash', 'greeting': 1000}

In [57]:
mydictionary={1:"tushar", 2:"yash","greeting":1000}

del mydictionary[1]

In [63]:
# set => is a collection of element
#  set is mutuable , set are unordered collection 
#  index position  are unique

myset={10,20,30,10,10,20,50,"hy"}
print(myset)

{50, 20, 'hy', 10, 30}

In [64]:
myset.add(100)
myset

{10, 100, 20, 30, 50, 'hy'}

In [66]:
myset.update(["omg",99,88])
myset

{10, 100, 20, 30, 50, 88, 99, 'e', 'h', 'hy', 'omg', 'y'}

In [69]:
myset.remove(10)
myset

KeyError: 10

In [70]:
myset

{100, 20, 30, 50, 88, 99, 'e', 'h', 'hy', 'omg', 'y'}

In [73]:
myset.discard(20)
myset

{100, 30, 50, 88, 99, 'e', 'h', 'hy', 'omg', 'y'}

In [75]:
myset1={10,20,30}
myset2={30,40,10,50}

myset1.(myset2)

SyntaxError: invalid syntax (2180850307.py, line 4)

In [76]:
#  block of code => ek baar logic likho and bar bar use karo
#  template -> statement => again and again use karoge

"""
def  funcation():
    statement
"""

'\ndef  funcation():\n    statement\n'

In [77]:
def greeting():
    print("hey user tushar")

In [79]:
# function calling
greeting()
greeting()
greeting()

hey user
hey user
hey user

In [87]:
# parameter
# function declaration

def greeting(username):
    print("hey user", username)

In [88]:
# function call  =>  argument
greeting("tushar")
greeting("aman")

hey user tushar
hey user aman

In [95]:
def companyDetail(eid, fname, email):
    print(f" Eid is : {eid} \n First Name : {fname} \n Email : {email}")

In [96]:
companyDetail(1,"tushar","tushar@gmail.com")

 Eid is : 1
 First Name : tushar
 Email : tushar@gmail.com

In [105]:
def func(x):
    x=20
    print("x :",x, id(x))

In [106]:
age=10
print("Age",id(age))

func(age)

Age 2935732437520
x : 20 2935732437840

In [108]:
age

10

In [110]:
def listAdd(mylist):
    print("mylist is",mylist)
    
list1=[9,11]
listAdd(list1)

mylist is [9, 11]

In [113]:
def listAdd(mylist):
    print("mylist is",mylist)
    mylist[0]=100
    
list1=[9,11]
listAdd(list1)

print("Original wale changes",list1)

mylist is [9, 11]
Original wale changes [100, 11]