In [1]:
import pandas as pd

In [32]:
df=pd.DataFrame({"rollNo":[10,20,30],
             "name":["A","B","C"],
                "user":[100,200,300]})

In [33]:
df

   rollNo name  user
0      10    A   100
1      20    B   200
2      30    C   300

In [37]:
df.iloc[1:, [0,2]]

   rollNo  user
1      20   200
2      30   300

In [46]:
state="RAJASTHAN"
state[2::2]
# 2to 5  => 2+1 => 3+1=>4

'JSHN'

In [38]:
df.iloc[1:, 0::2]

   rollNo  user
1      20   200
2      30   300

In [47]:
#  row, column
df.iloc[[0,2],:1]

#  [start : stopping: step]

   rollNo
0      10
2      30

In [48]:
df=pd.DataFrame({"rollNo":[10,20,30],
             "name":["A","B","C"],
                "user":[100,200,300]}, index=[100,200,300])

In [60]:
df.loc[ [100,200], ["rollNo","name" ] ]

     rollNo name
100      10    A
200      20    B

In [63]:
df.iloc[[0,1]]

     rollNo name  user
100      10    A   100
200      20    B   200